.nav-header a{
    text-decoration: none;
    color: white;
}

.hero{
    height: 600px;
    background-color: #1ABC9C;
}

.avatar{
    max-height: 255px;
}

.row-portfolio img{
    max-width: 360px;
    height: 100%;
}

.section-about{
    background-color: #1ABC9C;
}